@model UpdateModelYear

<h3>Edit Model Year</h3>
<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Active</label>
        <input type="checkbox" asp-for="IsActive" class="form-check-input" />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
</form>
