@model AddPromotion

<div class="card">
    <div class="card-header">
        <h3>Add Promotion</h3>
    </div>
    <div class="card-body">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <label>Upload Arabic Image</label>
                    <input type="file" name="ImageAr" class="form-control" required />
                </div>
                <div class="col-md-6">
                    <label>Upload English Image</label>
                    <input type="file" name="ImageEn" class="form-control" required />
                </div>
                <div class="col-md-6">
                    <label>Redirct Url</label>
                    <input type="text" name="redirctURL" class="form-control" required />
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Save</button>
        </form>
    </div>
</div>
