@model InsurancePercentageDTO

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label class="form-label"><span class="text-truncate">Min Age</span></label>
        <input asp-for="MinAge" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label"><span class="text-truncate">Max Age</span></label>
        <input asp-for="MaxAge" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label"><span class="text-truncate">Gender</span></label>
        <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control"></select>
    </div>
    <div class="mb-3">
        <label class="form-label"><span class="text-truncate">Percentage</span></label>
        <input asp-for="Percentage" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">
        <span class="text-truncate">Edit</span>
    </button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">
        <span class="text-truncate">Cancel</span>
    </a>
</form>
