@{
    Layout = null; // Set it to use the common layout (replace with your actual layout name if different)
}

<!DOCTYPE html>
<html lang="en" class="light-style layout-compact" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>Ramz Elktear</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon/group 92.ico" />

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/assets/vendor/css/core.css" />
    <link rel="stylesheet" href="~/assets/vendor/css/theme-default.css" />
    <link rel="stylesheet" href="~/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/assets/vendor/css/pages/page-auth.css" />

    <!-- Helpers -->
    <script src="~/assets/vendor/js/helpers.js"></script>
    <script src="~/assets/js/config.js"></script>
</head>

<body>
    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                <!-- Register -->
                <div class="card px-sm-6 px-0">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="app-brand justify-content-center">
                            <a href="index.html" class="app-brand-link gap-2">
                                <span class="app-brand-logo demo">
                                    <img src="~/assets/img/group 92.png" style="height: 100px;" />
                                </span>
                            </a>
                        </div>
                        @RenderBody()
                    </div>
                </div>
                <!-- /Register -->
            </div>
        </div>
    </div>

    <!-- Core JS -->
    <script src="~/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/assets/vendor/js/bootstrap.js"></script>
    <script src="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/assets/vendor/js/menu.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>

</html>
