@model LoginAdmin

@{
    ViewData["Title"] = "تسجيل الدخول";
    Layout = "~/Views/Shared/_RegistrationLayout.cshtml";
}

<h4 class="mb-1 text-center" dir="rtl">أهلاً بك!</h4>

<form asp-action="Login" class="" method="post" dir="rtl">
    <div class="form-group">
        <label class="float-right">رقم الهاتف</label>
        <input asp-for="PhoneNumber" class="form-control text-right" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="float-right">كلمة السر</label>
        <input asp-for="Password" class="form-control text-right" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-check text-right">
        <input asp-for="RememberMe" class="form-check-input" type="checkbox" />
        <label asp-for="RememberMe" class="form-check-label">تذكرني</label>
    </div>

    <button type="submit" class="btn btn-success text-center">تسجيل الدخول</button>
</form>