@model AddJobDTO

<h2>Add New Job</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label class="form-label">Job Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Percentage</label>
        <input asp-for="Percentage" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">IsConvertable</label>
        <input type="checkbox" asp-for="IsConvertable" class="form-check-input" />
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
</form>
