@model UpdateJob

<h3>Update Job</h3>
<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label for="Title">Job Title</label>
        <input type="text" class="form-control" asp-for="Name" required />
    </div>

    <div class="form-group">
        <label for="Description">Job Description</label>
        <textarea class="form-control" asp-for="Description" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
